<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>中钛新大健康</title>
<link type="text/css" rev="stylesheet" rel="stylesheet" href="/community/css/iconfont.css"/>
<link type="text/css" rev="stylesheet" rel="stylesheet" href="/community/css/main.css"/>
<!--[if lt IE 9 ]>
<script src="/community/js/jquery.js" type="text/javascript"></script>
<!--<![endif]-->
<!--[if IE 9 ]>
<script src="/community/js/zepto.js" type="text/javascript"></script>
<script src="/community/js/event.js" type="text/javascript"></script>
<script src="/community/js/ajax.js" type="text/javascript"></script>
<script src="/community/js/iscroll-probe.js" type="text/javascript"></script> 
<script src="/community/js/touch.js" type="text/javascript"></script> 
<!--<![endif]-->
<!--[if gte IE 9 ]>
<!-->
<script src="/community/js/zepto.js" type="text/javascript"></script>
<script src="/community/js/event.js" type="text/javascript"></script>
<script src="/community/js/ajax.js" type="text/javascript"></script>
<script src="/community/js/iscroll-probe.js" type="text/javascript"></script> 
<script src="/community/js/touch.js" type="text/javascript"></script> 
<!--<![endif]-->
</head>
<body>
<div id="head" class="pH">
    <div id="headFrame">
        <div class="white left"></div>
        <div class="white right"></div>
        <img srcL="/community/images/logo.png" class="logo" lazyload="0"/>
        <div class="title">中钛新大健康</div>
        <div class="buttonFrame">
            <button type="button" href="/" id="index">首页</button>
            <button type="button" href="/">社区服务</button>
            <button type="button" href="/新闻/首页" id="news">新闻动态</button>
            <button type="button" class="last">关于我们</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div id="head" class="bH">
    <img srcL="/community/images/logo.png" id="logo" lazyload="0"/>
    <div id="title">中钛新大健康</div>
    <button type="button" id="menuButton" class="iconfont">&#xe634;</button>
</div>
<div id="IS">
    <div id="wrap">
        <div id="space"></div>
        <div id="menu" class="bH">
            <div class="point hl" href="/">首页</div>
            <div class="point" href="http://sq.zoteri.net/">社区服务</div>
            <div class="point" href="/新闻/首页">新闻动态</div>
            <div class="point">关于我们</div>
        </div>