<?php $this->load->view('头部.html');?>

<div id="head" class="bH">
	<img srcL="/community/images/logo.png" id="logo" lazyload="0"/>
    <div id="title">中钛新大健康</div>
    <button type="button" id="menuButton" class="iconfont">&#xe634;</button>
</div>
<div id="IS">
<div id="wrap">
<div id="space"></div>
<div id="menu" class="bH">
	<div class="point hl" href="/">首页</div>
    <div class="point" href="http://sq.zoteri.net/">社区服务</div>
    <div class="point" href="/Welcome/新闻动态">新闻动态</div>
    <div class="point">关于我们</div>
</div>
<div id="newsDetail_page">
    <div class="navFrame pH">
        <div id="crumbs" class="pH">你现在的位置：<a href="/">首页</a>>新闻动态</div>
        <div class="clear"></div>
    </div>
    <div id="frame">
        <div id="title">调查显示医生是2016年最被看好的职业</div>
        <div id="subTitle">2015-11-30  09：17  ｜  来源：南方都市报</div>
        <img srcL="/community/images/news.jpg" lazyload="0"/>
        <div class="text">
            红网长沙6月3日讯（时刻新闻记者 易征洋 实习生 周欣佳 通讯员 兰征）今天，湖南省副省长向力力在湖南省卫生计生委欢送第18批援塞医疗队，为医疗队授旗并讲话。省政府办公厅巡视员黄卫东，省政府副秘书长陈小春，省卫生计生委党组书记詹鸣、主任张健、副主任张义昌出席欢送会。</div>

      <div class="text">向力力指出，对外医疗援助是国家的一项长期的政治任务。援外医疗对于密切我国与发展中国家的传统友好关系，营造我国改革开放和现代化建设良好的国际环境具有十分重要的意义。</div>

      <div class="text">向力力要求对外医疗援助队员：一要牢记使命，胸怀大局。所有队员要胸怀祖国，不忘重托，牢固树立祖国利益高于一切的思想，坚持服务外交的宗旨，提升医疗水平，巩固中塞友谊，推进经济合作。二要务实担当，争创一流。要提升服务能力和水平，提升中塞友好医院的管理水平，要用精湛的医术诊治病人；要争创亮点，填补当地医学空白；要传经送宝，传授新技术、推广新项目。三要强化宣传，维护形象。中国援外医疗队就是中国的一张名片，每一个援外队员都是国际传播大使。希望大家多传播中国文化。四要严明纪律，团结和谐。所有队员传承和发扬援外医疗队优良传统，用制度、用爱心，用纪律共同打造团结和谐、健康快乐的援外大家庭。</div>

      <div class="text">“这是我的一个机会，我还年轻，我愿意用自己的特长去为国家、非洲的贫困国家奉献一份力量，改变他们的医疗水平，我觉得这是很有价值的。”第18批援塞拉利昂医疗队叶轲表代表全队11名队员表态：一定牢记“不畏艰险，甘于奉献，救死扶伤，大爱无疆”的援外医疗队精神，尽快适应新环境，开拓进取、主动作为、把援外医疗工作做好、做实、做出特色、做出成效。</div>

      <div class="text"> 红网长沙6月3日讯（时刻新闻记者 易征洋 实习生 周欣佳 通讯员 兰征）今天，湖南省副省长向力力在湖南省卫生计生委欢送第18批援塞医疗队，为医疗队授旗并讲话。省政府办公厅巡视员黄卫东，省政府副秘书长陈小春，省卫生计生委党组书记詹鸣、主任张健、副主任张义昌出席欢送会。</div>

      <div class="text">向力力指出，对外医疗援助是国家的一项长期的政治任务。援外医疗对于密切我国与发展中国家的传统友好关系，营造我国改革开放和现代化建设良好的国际环境具有十分重要的意义。</div>

      <div class="text">向力力要求对外医疗援助队员：一要牢记使命，胸怀大局。所有队员要胸怀祖国，不忘重托，牢固树立祖国利益高于一切的思想，坚持服务外交的宗旨，提升医疗水平，巩固中塞友谊，推进经济合作。二要务实担当，争创一流。要提升服务能力和水平，提升中塞友好医院的管理水平，要用精湛的医术诊治病人；要争创亮点，填补当地医学空白；要传经送宝，传授新技术、推广新项目。三要强化宣传，维护形象。中国援外医疗队就是中国的一张名片，每一个援外队员都是国际传播大使。希望大家多传播中国文化。四要严明纪律，团结和谐。所有队员传承和发扬援外医疗队优良传统，用制度、用爱心，用纪律共同打造团结和谐、健康快乐的援外大家庭。</div>

      <div class="text">“这是我的一个机会，我还年轻，我愿意用自己的特长去为国家、非洲的贫困国家奉献一份力量，改变他们的医疗水平，我觉得这是很有价值的。”第18批援塞拉利昂医疗队叶轲表代表全队11名队员表态：一定牢记“不畏艰险，甘于奉献，救死扶伤，大爱无疆”的援外医疗队精神，尽快适应新环境，开拓进取、主动作为、把援外医疗工作做好、做实、做出特色、做出成效。
        </div>
    <button id="backButton" class="bH"><span class="iconfont">&#xe639;</span>返回新闻列表页</button>
    </div>
</div>
<div id="foot">
	<div class="centerFrame">
    	<div id="first" class="pH">
        	<div class="point">
            	<div class="icon"><div class="iconfont">&#xe62b;</div></div>
                <div class="name">首页</div>
                <li>首页</li>
            </div>
            <div class="point">
            	<div class="icon"><div class="iconfont">&#xe620;</div></div>
                <div class="name">社区服务</div>
                <li>社区用户登录</li>
                <li>查询介入社区</li>
            </div>
            <div class="point">
            	<div class="icon"><div class="iconfont">&#xe62a;</div></div>
                <div class="name">新闻动态</div>
                <li>行业新闻</li>
                <li>公司新闻</li>
            </div>
            <div class="point">
            	<div class="icon"><div class="iconfont">&#xe631;</div></div>
                <div class="name">关于我们</div>
                <li>公司介绍</li>
                <li>联系方式</li>
                <li>合作伙伴</li>
                <li>招聘信息</li>
            </div>
            <div class="clear"></div>
        </div>
        <div id="second">
        	<img id="icon" srcL="/community/images/logo2.png" lazyload="0"/>
            <div id="name">中钛新大健康</div>
            <div class="point point1">
            	<div class="icon"><div class="iconfont">&#xe61e;</div></div>
                <div class="test">020-12345678</div>
                <div class="clear"></div>
            </div>
            <div class="point point2">
            	<div class="icon"><div class="iconfont">&#xe600;</div></div>
                <div class="test">47986543@zoteri.com</div>
                <div class="clear"></div>
            </div>
            <button class="bH" type="button" id="downloadApp">手机app下载</button>
        </div>
        <div id="third" class="pH">
        	<div class="point">
            	<div class="space"></div>
            	<img srcL="/community/images/ercode2.jpg" class="icon" lazyload="0"/>
                <div class="name">手机app下载</div>
            </div>
            <div class="point">
            	<div class="space"></div>
            	<img srcL="/community/images/ercode3.jpg" class="icon" lazyload="0"/>
                <div class="name">关注微信公众号</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

</div>

</div>
<?php $this->load->view('尾部.html');?>