<?php $this->load->view('头部.html');?>
<div id="index_page">
    <div id="banner">
        <div id="whiteFrame">
            <div id="whiteCenterFrame">
                <div class="whitePoint hl" num="0"></div>
                <div class="whitePoint" num="1"></div>
                <div class="whitePoint last" num="2"></div>
                <div class="clear"></div>
            </div>
        </div>
</div>
<div id="project">
    <div class="centerFrame">
        <div class="pathTitle">
            <div class="left"><div class="iconfont">&#xe632;</div></div>
            <div class="right"><div class="iconfont">&#xe633;</div></div>
            <div class="titleCn">支持7大体检项目</div>
            <div class="titleEn">Support seven medical items</div>
        </div>
        <div id="projectFrame">
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe625;</div></div>
                <div class="cn">身高</div>
                <div class="en">Measurement of height</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe61b;</div></div>
                <div class="cn">体重</div>
                <div class="en">Measurement of body weight</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe609;</div></div>
                <div class="cn">十二导联心电</div>
                <div class="en">ECG measurements</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe60b;</div></div>
                <div class="cn">血压</div>
                <div class="en">Measurement of blood pressure</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe60a;</div></div>
                <div class="cn">血糖</div>
                <div class="en">Measurement of blood glucose</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe630;</div></div>
                <div class="cn">动脉硬化</div>
                <div class="en">Measurement arteriosclerosis</div>
            </div>
            <div class="point">
                <div class="bg iconfont" animate="false">&#xe62f;</div>
                <div class="icon" animate="false"><div class="iconfont">&#xe60c;</div></div>
                <div class="cn">血氧</div>
                <div class="en">Measuring blood oxygen</div>
            </div>
            <div class="point">
                <button type="button" class="dsc">更多项目<br/>等你体验..</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="analysis">
    <div class="centerFrame">
        <div class="pathTitle">
            <div class="left"><div class="iconfont">&#xe632;</div></div>
            <div class="right"><div class="iconfont">&#xe633;</div></div>
            <div class="titleCn">实时的精准分析</div>
            <div class="titleEn">Accurate real-time analysis</div>
        </div>
        <img srcL="/community/images/phoneA.png" id="phoneA" animate="false" lazyload="0"/>
        <img srcL="/community/images/phoneB.png" id="phoneB" animate="false" lazyload="0"/>
        <img srcL="/community/images/phoneC.png" id="phoneC" animate="false" lazyload="0"/>
        <div id="dscFrame" animate="false">
            <div id="dsc">
                <div class="text">每次体检完便实时上传数据，用户可在app上随时随地查看体检数据，</div>
                <div class="text">更有专业团队对所有单项数据进行精准分析，力求精确无误。</div>
            </div>
        </div>
     </div>
</div>
<div id="team">
    <div class="centerFrame">
        <div class="pathTitle">
            <div class="left"><div class="iconfont">&#xe632;</div></div>
            <div class="right"><div class="iconfont">&#xe633;</div></div>
            <div class="titleCn">专业的医疗团队</div>
            <div class="titleEn">Professional medical team</div>
        </div>
        <div id="dsc" animate="false">
            我们的医疗团队有多年的从医经验，均来自各大三甲医院，24小时远程监控用户的数据，随时随地为用户提供专业的体检分析、调理方案。
        </div>
        <img id="pic" srcL="/community/images/pic.jpg" animate="false" lazyload="0">
    </div>
</div>
</div>

<?php $this->load->view('尾部.html');?>